body {
    font-family: Arial, Helvetica, sans-serif;
}

.partBroccoli {
    background: url('https://cdn.britannica.com/25/78225-050-1781F6B7/broccoli-florets.jpg');
    height: 200;
    width: 450;
}

.moveBroccoli:hover {
    transform: translate(100px, 100px) scaleY(2.0);
    transition-property: transform;
    transition-duration: 10s;
    transition-timing-function: linear; 
    /* transition-delay: 5s; */
}

